[submodule ".vim/pack/tasty/start/auto-pairs"]
	path = .vim/pack/tasty/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/tasty/start/ctrlp.vim"]
	path = .vim/pack/tasty/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/tasty/start/nerdtree"]
	path = .vim/pack/tasty/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/tasty/start/nerdcommenter"]
	path = .vim/pack/tasty/start/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter
[submodule ".vim/pack/tasty/start/tagbar"]
	path = .vim/pack/tasty/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/tasty/start/vim-indent-guides"]
	path = .vim/pack/tasty/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/pack/tasty/start/vim_current_word"]
	path = .vim/pack/tasty/start/vim_current_word
	url = https://github.com/dominikduda/vim_current_word
[submodule ".vim/pack/tasty/start/syntastic"]
	path = .vim/pack/tasty/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/pack/tasty/start/vim-dutyl"]
	path = .vim/pack/tasty/start/vim-dutyl
	url = https://github.com/idanarye/vim-dutyl.git
[submodule ".vim/pack/tasty/start/nighted.vim"]
	path = .vim/pack/tasty/start/nighted.vim
	url = https://github.com/wolf-dog/nighted.vim

